<link rel="stylesheet" href="static/css/blog.css" type="text/css" />

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">새소식</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li>
                <a id="blog-new" href="#blogs/post" title="새글을 작성합니다">새글</a>
            </li>
            <li>
                <a id="album-new" href="#blogs/photo" title="사진을 추가합니다">사진추가</a>
            </li>
        </ul>
    </div>
</div>

<div id="content-body">
    <div id="post-list">
    </div>
</div>
