<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- 로고 -->
            <a class="brand" href="#">Nuribom</a>
            <% if (id) { %>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 사용자 툴바 -->
            <div class="userbox pull-right">
                <ul class="nav">
                    <li id="alarms" class="dropdown">   <!-- 알람버튼 -->
                        <a href="#" class="btn btn-inverse alarm-button dropdown-toggle" data-toggle="dropdown" title="알림">
                            <%= _.reduce(alarms, function(memo, alarm) { return memo + !alarm.checked; }, 0) %>
                            <b class="caret"></b>
                        </a>
                    </li>
                    <li>    <!-- 사용자이름 -->
                        <a href="#account/<%= username %>" title="내글">
                            <%= name %>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>    <!-- 사용자메뉴 -->
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="photo dropdown-toggle" data-toggle="dropdown">
                                    <img class="img-rounded" src="/account/<%= username %>/photo">
                                    <b class="caret" style="margin-top: 13px;"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#account/<%= username %>/info">개인정보</a>
                                    </li>
                                    <% if (_.contains(groups, 'group:admin') || _.contains(permissions, 'admin:*')) { %>
                                    <li>
                                        <a href="#admin/account">계정관리</a>
                                    </li>
                                    <% } %> 
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/logout">로그아웃</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- 사용자 툴바 -->
            <!-- 메뉴 -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li id="menu-fav-news">
                        <a href="#blog">새소식</a>
                    </li>
                    <li id="menu-fav-teams">
                        <a href="#team">조직도</a>
                    </li>
                    <li id="menu-fav-account">
                        <a href="#employees">비상연락망</a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
                <div class="navbar-search pull-left">
                    <input type="text" class="search-query span2" id="global-query" name="q" autocomplete="off" placeholder="Search">
                </div>
            </div>
            <% } else { %>
            <ul class="nav pull-right">
			  <li class="divider-vertical"></li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" href="#" data-toggle="dropdown">로그인 <strong class="caret"></strong></a>
			    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
					<form action="/login" method="post" accept-charset="UTF-8">
						<input id="came_from" type="hidden" value="/">
						<input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" placeholder="아이디" />
						<input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" placeholder="암호" />
						<input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" checked="checked" />
						<label class="string optional" for="user_remember_me"> 로그인 상태 유지</label>
						
						<input id="login_button" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="로그인" />
					</form>
			    </div>
			  </li>
			</ul>
            <% } %>
        </div>
    </div>
</div>

<header>
</header>
