<%
from myproject.views import log
from datetime import datetime
from pyramid.security import authenticated_userid
%>

<%def name="info_row(id, title, editable=True, class_name='name')">
	<div id="info-row-${id}" class="basic-info-row">
		<div id="title-${id}" class="lfloat col-title-${id}">
			<span id="info-${id}-title">${title}</span>
		</div>
		% if id == 'photo':
		<div class="lfloat col-value col-value-${id}">
			<img id="photo_zone" style="height:80px; float:left" src="${request.route_path('account_photo', username=user.username)}">
            % if user.username == authenticated_userid(request):  
			<div class="btn btn-success fileinput-button" style="margin:50px 10px 0">
			    <span>사진변경</span>
			    <input type="file" id="fileupload" name="photo" data-url="${request.route_path('account_photo', username=user.username)}" />
			</div>
			% endif
		</div>
		% else:
		<div class="lfloat col-value col-value-${id}">
			<span id="info-${id}">
				${str(user[id].date()) if isinstance(user[id], datetime) else user[id] if id != 'password' and user[id] else '&nbsp'|n}
			</span>
		</div>
		<div class="lfloat col-basic-toolbar">
			% if editable:
			<a href="javascript:doEdit('${id}', '${class_name}')" class="right-align">
				<img width="16" height="16" src="/static/images/pencil.png" title="편집">
			</a>
			% endif
		</div>
		% endif
	</div>
</%def>

<script>
inputHTML = '\
	<div id="info-row-input" class="basic-info-row disable">\
		{0}\
		<div class="lfloat col-value-input">\
			<input id="info-{2}-input" value="{1}" class="input_text {3}">\
		</div>\
		<div class="lfloat col-basic-toolbar">\
			<a href="javascript:doSave(\'{2}\', [\'{2}\'])" class="right-align">\
            <img width="16" height="16" src="/static/images/save.png" title="저장">\
			</a>\
		</div>\
	</div>'
inputPasswordHTML = '\
	<div id="info-row-input" class="basic-info-row disable" style="height:86px">\
		<div id="title-password" class="lfloat col-title-password" style="height:66px">\
			<span id="info-password">비밀번호</span>\
		</div>\
		<div class="lfloat col-value-input">\
			<div style="padding-bottom:5px;">\
				<strong>현재 암호 : </strong>\
				<input type="password" id="info-old_password-input" name="old_password" maxlength="20" class="input_text" />\
			</div>\
			<div style="padding-bottom:5px;">\
				<strong>변경 암호 : </strong>\
				<input type="password" id="info-new_password-input" name="new_password" maxlength="20" class="input_text" />\
			</div>\
			<div>\
				<strong>암호 확인 : </strong>\
				<input type="password" id="info-confirm_password-input" name="confirm_password" maxlength="20" class="input_text" />\
			</div>\
		</div>\
		<div class="lfloat col-basic-toolbar">\
	        <a href="javascript:doSave(\'password\', [\'old_password\', \'new_password\', \'confirm_password\'])" class="right-align">\
            <img width="16" height="16" src="/static/images/save.png" title="저장">\
	    </div>\
    </a>\
	</div>'

/* 
 * doEdit(id) 함수에서 jQuery.get(url)의 결과로 넘어온 data를 인자로 넘겨준다.
 */
function showForm(id, data, class_name) {
	if (id == 'password') {
		$("#info-row-" + id).after(inputPasswordHTML);
		$("#info-row-input").fadeIn();
		$("#info-old_password-input").focus();
	}
	else {
		titleHTML = $("#title-" + id).prop("outerHTML");
		$("#info-row-" + id).after(inputHTML.format(titleHTML, data[id], id, class_name));
		$("#info-row-input").fadeIn();
		$("#info-birthday-input").datepicker();
		$("#info-" + id + "-input").focus();
	}
}
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            console.log(data);
            $.each(data.result, function (index, file) {
                $(location).attr('href', $(location).attr('href'))
            });
        }
    });
});
</script>

<!-- 기본 정보 -->
<form id="form_basic" name="form_basic" method="post" action="">
	<input type="hidden" name="category" value="basic" />
	<div class="table-basic default_info">
		${info_row('photo', u'사진', editable=False)}
		${info_row('name', u'이름', editable=False)}
		${info_row('join_date', u'입사일', editable=False)}
		${info_row('username', u'아이디', editable=False)}
        % if user.username == authenticated_userid(request):  
		${info_row('password', u'비밀번호')}
		% endif
		${info_row('birthday', u'생년월일', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('mobile', u'휴대폰', class_name='phone', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('phone', u'내선번호', class_name='phone', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('phone1', u'집전화', class_name='phone', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('email', u'이메일', editable=False)}
		${info_row('email1', u'메신저', class_name='email', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('address', u'기본 주소', class_name='address', editable=True if user.username == authenticated_userid(request) else False)}
		${info_row('address1', u'부가 주소', class_name='address', editable=True if user.username == authenticated_userid(request) else False)}
	</div>
</form>
<!-- // 기본 정보 리스트 -->
