<%
from myproject.views import log
from datetime import datetime
from pyramid.security import authenticated_userid
%>

<%def name="info_row(object, id=None, is_last=False)">
	<div id="info-row" class="info-row ${'info-title' if id is None else ''}">
		<div class="lfloat col-name">
            % if mode == 'edit' and id != None and user.username == authenticated_userid(request):
            <input id="info-name-input" name="name" value="${object['name']}" class="input_text name">
            % else:
			<span>${object['name']|n}</span>
			% endif
		</div>
		<div class="lfloat col-relation">
            % if mode == 'edit' and id != None and user.username == authenticated_userid(request):
            <select id="info-relation-input" name="relation" class="input_select">
                <option value="" >선택</option>
                % for val in [u'할아버지', u'할머니', u'아버지', u'어머니', u'배우자', u'형제', u'자녀']:
                <option value="${val}" ${'selected="selected"' if val == object['relation'] else ''}>${val}</option>
                % endfor 
            </select>
            % else:
			<span>${object['relation']|n}</span>
			% endif
		</div>
		<div class="lfloat col-birthday">
            % if mode == 'edit' and id != None and user.username == authenticated_userid(request):
            <input name="birthday" class="birthday-input input_text"
                value="${str(object['birthday'].date()) if isinstance(object['birthday'], datetime) else object['birthday']|n}" >
            % else:
			<span>
				${str(object['birthday'].date()) if isinstance(object['birthday'], datetime) else object['birthday']|n}
			</span>
			% endif
		</div>
        % if mode == 'edit' and id != None and user.username == authenticated_userid(request):
        <div class="lfloat col-toolbar">
            <a href="" class="right-align btn-remove-entry info-button">삭제</a>
        </div>
        % endif
	</div>
</%def>

<!-- 가족 정보 -->
<form id="account_form" name="account_form" method="post">
	<input type="hidden" name="category" value="family" />
	<div class="table-family default_info">
		${info_row({'name': u'이름', 'relation': u'관계', 'birthday': u'생년월일'})}
		% for i in range(len(user.families)):
		${info_row(user.families[i], id=i)}
		% endfor
        % if mode == 'edit':
        ${info_row({'name': u'', 'relation': u'', 'birthday': u''}, id=i+1)}
        <div id="add-info-button" class="info-row">
            <div class="lfloat col-toolbar">
                <a id="btn-add-entry" href="javascript:doAddEntry()" class="right-align info-button">추가</a>
            </div>
		</div>
		% endif
	</div>
</form>
<!-- // 가족 정보 리스트 -->

<script>
% if mode == 'edit':
	var new_entry = null;
	
	$("body").on("click", ".btn-remove-entry", doDeleteEntry);
	$("body").on("focus", ".birthday-input", function() { $(this).datepicker(); });
	
	function doAddEntry() {
	    $("#add-info-button").before(new_entry);
	}
	
	function doDeleteEntry(e) {
        e.preventDefault();
        var $rows = $('.info-row');
        var $row = $(e.target).parents('.info-row');
		if ($row[0] !== $rows.eq($rows.length-2)[0])
			$row.remove();
		return false;
	}

    $(document).ready(function() {
        var $rows = $(".info-row");
        new_entry = $rows.get($rows.length-2).outerHTML;
    });
% endif
</script>
