<div style="padding:10px;">
	<p>회원님과 관련한 활동이 있을 때마다 누리인에서 알림을 보내드립니다.</p>
	<p></p>
	<p>알림을 <strong style="color:darkblue;">${user.email}</strong>(이메일)로 보내고 있습니다.
	<p></p>

	<form id="account_form" name="account_form" method="post" style="padding:10px;">
	    <input name="category" type="hidden" value="notification" />
	    <label for="notification" class="checkbox">
	       알림을 이메일로 받기
            <input name="mail_notify" type="checkbox" id="notification" ${'checked' if user.mail_notify else ''}>
	    </label>
	</form>
</div>

<script>
    var new_entry = null;
    
    $("#notification").change(function(e) {
    	var url = "${request.route_path('account_info', username=user.username, category='notification')}";
    	$.post(url, {mail_notify: $(this).is(":checked")}, "json")
    });
</script>
