<%
from myproject.views import log
from myproject.models import rank_db
from datetime import datetime

username = request.matchdict['username']
%>

<%def name="info_row(id, title, comment='', editable=True, class_name='name')">
	<tr id="info-row-${id}" class="basic-info-row">
		<th id="row-title" class="span2">
			<span class="pull-right" id="info-${id}-title">${title}</span>
		</th>
        <td>
        % if id == 'photo':
            <div class="avata">
                <img id="avata-img" src="${request.route_path('account_photo', username=user.username)}">
                % if mode == 'edit':
                <a id="avata-change" href="#">사진변경</a>
                % endif
            </div>
        % elif mode == 'edit' and id == 'social_id':
            <input type="text" id="info-${id}" name="${id}" value="" class="input_text ${class_name}">
        % elif mode == 'edit' and isinstance(comment, list):
            <select id="info-${id}" name="${id}">
                <option value="" >선택</option>
                % for val in comment:
                <option value="${val}" ${'selected="selected"' if id in user and user[id] == val else ''|n}>${val}</option>
                % endfor
            </select>
        % elif mode == 'edit':
            <input type="text" id="info-${id}" name="${id}" 
                   value="${'' if id not in user else str(user[id].date()) if isinstance(user[id], datetime) else user[id]}" 
                   class="input_text ${class_name}">
            % if comment and not isinstance(comment, list):
            <span class="help-inline">${comment|n}</span>
            % endif
        % elif id != 'social_id':
            ${'' if id not in user else str(user[id].date()) if isinstance(user[id], datetime) else user[id]}
		% endif
        </td>
	</tr>
</%def>

<style type="text/css">
.avata {
    display: inline-block;
    position: relative;
}
.avata img {
    width: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.avata a {
    position: absolute;
    bottom: 0;
    width: 80px;
    font-weight: bold;
    text-align: center;
    background: darkgreen;
    color: white;
    opacity: 0.5;
}
.avata a:hover {
    opacity: 0.8;
    text-decoration: none;
}
td input[type="text"],
td select { margin: 0; }
td .form-inline { margin-bottom: 10px; }
td .form-inline:last-child { margin: 0; }
td .address {
    margin: 0; 
    width: 100%;
    height: 30px; 
    -webkit-box-sizing: border-box; 
        moz-box-sizing: border-box; 
            box-sizing: border-box;
}
</style>

<form>
	<input type="hidden" name="category" value="basic" />
	<table id="container" class="table table-striped">
	% if request.matchdict['username'] != '__new__':
        ${info_row('photo', u'사진')}
    % endif
		${info_row('name', u'*이름')}
        ${info_row('username', u'*아이디', u' <span id="dup_status" class="duplicated">아이디중복</span>')}
        ${info_row('employee_id', u'*사원번호', u'0으로 시작하는 5자리 일련번호')}
        ${info_row('birthday', u'생년월일')}
        ${info_row('mobile', u'휴대폰')}
        ${info_row('phone', u'내선번호')}
        ${info_row('phone1', u'집전화')}
        ${info_row('grade', u'직급', u'Junior|Senior|Manager|임원'.split('|'))}
        ${info_row('social_id', u'주민번호', u'구분자(-)를 포함한 14자리를 입력하세요')}
        ${info_row('en_name', u'영문이름')}
        ${info_row('team', u'소속부서')}
        ${info_row('join_rank', u'입사직위', rank_db[0] + rank_db[1] + rank_db[2])}
		${info_row('join_date', u'입사일')}
        ${info_row('leave_date', u'퇴사일')}
        ${info_row('email1', u'메신저', class_name='email')}
        ${info_row('job_summary', u'업무요약', class_name='email')}
		${info_row('address', u'기본 주소', class_name='address')}
		${info_row('address1', u'부가 주소', class_name='address')}
	</table>

    <div class="tab-button">
        % if mode == 'edit':
        <a href="${request.route_path('admin_account_edit', username=user.username)}" class="btn">취소</a>
        <button id="account-save" type="submit" class="btn btn-primary">저장</a>
        % else:
        <a href="?mode=edit" class="btn btn-primary">정보수정</a>
        % endif
    </div>
</form>

% if mode == 'edit':
% if request.matchdict['username'] != '__new__':
<script type="text/javascript" src="/static/plupload/js/plupload.full.js"></script>
% endif

<script>
$("#info-birthday").datepicker();
$("#info-join_date").datepicker();
$("#info-leave_date").datepicker();

var duplicated = false;

function duplicateCheck() {
    console.log($(this).val());
    username = $("#info-username").val().trim();
    
    $.post("/admin/account/duplicate/" + (username ? username : "_"), function (data) {
        duplicated = data["result"];
        if (duplicated) {
            $("#dup_status").css("display", "inline");
        }
        else {
            $("#dup_status").css("display", "none");
        }
    }, "json");
}
function validateCheck() {
    if (!$("#info-name").val().trim() || !$("#info-username").val().trim()) {
        alert("사용자 이름, 아이디는 반드시 입력하셔야 합니다.");
        return false;
    }
    if (duplicated) {
        alert("이미 등록되어 있는 아이디 입니다.");
        return false;
    }
    return true;
}
$("#info-username").keyup(duplicateCheck);
$("#save").click(validateCheck);

$(document).ready(function() {
	% if request.matchdict['username'] != '__new__':
    var uploader = new plupload.Uploader({
        runtimes : 'html5',
        multi_selection: false,
        browse_button : 'avata-change',
        container : 'container',
        max_file_size : '10mb',
        url : "${request.route_path('account_photo', username=user.username)}",
        filters : [
            {title : "Image files", extensions : "jpg,gif,png"},
        ],
        resize : {width : 120, height : 80, quality : 90}
    });
    
    uploader.bind('Init', function(up, params) {});
    uploader.init();
    uploader.bind('FilesAdded', function(up, files) {
        uploader.start();
    });
    uploader.bind('UploadProgress', function(up, file) {});
    uploader.bind('Error', function(up, err) {});
    uploader.bind('FileUploaded', function(up, file) {
        location.reload();
    });
    % endif
});
</script>
% endif