@charset "utf-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
p, address {
	margin: 0;
}
a, a:hover, a:visited, a:link, a:active {
	color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #4183C4;
}
img {vertical-align:middle;}
body,input,textarea,button,select,table{font-family:나눔고딕,NanumGothic,Tahoma,Sans-serif;font-size:14px}

.container, .header, .body, .content, .footer {
    position:relative; 
    zoom:1
}
.container:after, 
.header:after, 
.body:after, 
.content:after, 
.footer:after {
    display:block;
    clear:both;
    content:''
}
.footer {padding: 15px 0 30px 0;border-top: 2px solid #BFE3F1;}
.container {margin:0 15px;min-width:300px}

/* Header */
.header {
	background-repeat:no-repeat;
	*background:none;
    left:0;
}
.header h1 a{display:block;height:0;padding:69px 0 0 0;overflow:hidden;background-repeat:no-repeat}
.header {height:auto;display:block;padding:10px;}
.mnav {float:left;margin:-2px -2px 0 -10px;padding:0;}
.topsearch {display: inline-block;}


/* Footer */
.footer a{text-decoration:none}
.footer a:hover,
.footer a:active,
.footer a:focus{text-decoration:underline}
.footer p{float:left;height:16px;font-size:10px;line-height:16px;color:#666;text-align:left}
.footer p a{font-weight:bold;color:#666}
.footer .language{float:right;position:relative}
.footer .language button{overflow:visible;padding:0;border:0;background:none;font-size:11px;white-space:nowrap;cursor:pointer}
.footer .language .selected{height:16px;*height:18px;color:#767676}
.footer .language ul{position:absolute;right:0;bottom:20px;margin:0;padding:10px;border:1px solid #ddd;background:#fff;list-style:none}
.footer .language ul li button{color:#666}
.footer .language ul.hide{display:none}

/* Body */
.mainmenu a{text-decoration:none}
.mainmenu a:hover,
.mainmenu a:active,
.mainmenu a:focus{text-decoration:underline}
.mainmenu {position:relative;margin-bottom:10px;color:#666}
.mainmenu h2{margin:0;padding:3px 0 2px 8px;border:1px solid #44a1ff;font-size:12px;line-height:18px;color:#3071B2;zoom:1;border-radius:3px}
.mainmenu a{color:#767676}
.mainmenu a:hover,
.mainmenu a:active,
.mainmenu a:focus{color:#333}
.mainmenu ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mainmenu li {
    cursor: pointer;
    padding: 3px 0 3px 18px;
}
.menu-bar {background:white; border:1px solid #44a1ff;top:5px; width: 200px; position: absolute; zoom: 1;padding: 10px; display:none;}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#wrapper {
    top: 0;
	height: 100%;
	min-height: 100%;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    overflow: auto;
}

.clearfix {
    display: block;
}

.topbar {
	background-color: #3879D9;
    padding: 5px 8px;
    border-radius: 3px;
}
.topsearch a.advanced-search {
	width: 16px;
	height: 16px;
	padding: 6px 0 0 10px;
}
.topsearch .btnSearch{
	overflow:hidden;
	height:0;
	border:0;
	background:url(/static/images/sprite.gif) no-repeat;
	cursor:pointer;
	margin:0 4px 0 0;
}

.topsearch .search .mini-icon-search-input {
	position: absolute;
	left: 5px;
	top: 7px;
	color: #B5B5B5;
	line-height: 16px;
}

.topsearch .search {
	margin: 1px 0;
	display: inline-block;
}
.topsearch input {
	background-color: white;
	border: 1px solid #DDD;
	border-top: 1px solid #CDCDCD;
	padding: 5px 5px 5px 25px;
	color: #999;
	font-size: 12px;
	width: 100px;
}
.topsearch .button {
	padding: 0;
}

.topsearch ul {
	float: left;
	margin: 0;
	padding: 3px 20px;
}
.placeholder {
	padding: 2px 7px 2px 0;
	float: left;
}
.placeholder-field {
	position: relative;
}
.mini-icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.mini-icon.mini-icon-search-input {
    background-image: url('/static/images/modules/header/userbox/icons.png');
    background-position: -154px 0;
}
.mini-icon.advanced-search {
    background-image: url('/static/images/modules/header/userbox/icons.png');
    background-position: -120px 0;
}
.mini-icon.account-settings {
    background-image: url('/static/images/modules/header/userbox/icons.png');
    background-position: -92px 0;
}
.mini-icon.logout {
    background-image: url('/static/images/modules/header/userbox/icons.png');
    background-position: -66px 0;
}
.placeholder, .top-nav a, .userbox a {
    font-size: 14px;
	font-weight: bold;
	-moz-transition: color .15s ease-in 0;
	-webkit-transition: color .15s ease-in 0;
}
.userbox {float:right;}
.userbox, .userbox div {
	display: inline-block;
}
.userbox img {
	vertical-align: middle;
	border-radius: 3px;
}
.userbox a {color:white;}
.user-info {
	padding: 1px 0;
	display: inline-block;
}
.user-links {
	padding: 5px;
	border-radius: 3px;
	list-style: none;
}
.top-nav { padding: 5px; }

/* 
 * login 
 */
#login {
	margin: 20px auto;
	width: 300px;
}
#login h1 {
	font-size: 20px;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    background: #E7EBF2;
    border: 1px solid #CACACA;
    border-radius: 5px 5px 0 0;
} 
#login .formbody {
	font-size: 14px;
    padding: 10px 20px;
    background: #f9f9f9;
    border: 1px solid #CACACA;
    border-radius: 0 0 5px 5px;
}
#login label {
	display: block;
	margin: 5px 0 10px 0;
}
#login label input.text {
    height: 18px;
    margin-top: 5px;
	border: 1px solid #D8DEE2;
}
#login .submit_btn {
	text-align: right;
	margin: 0;
}
#login .submit_btn input {
    padding: 5px;
}
#top-toolbar > a {
	display: inline-block;
    padding: 2px 0 2px 4px;
    cursor: pointer;
    margin: 0;
    color: white;
    font-weight: bold;
}
#top-toolbar > a.hidden {
	display: none;
}
#top-toolbar {
    padding: 5px;
    background-color: #0058A1;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
#top-toolbar h3 {
	display: inline-block;
    padding: 1px 8px;
    margin: 0;
    color: white;
    border-right: 2px solid lightblue;
}
#top-toolbar h3 a {color: white;}
#top-toolbar #description {
	clear: both;
	padding: 0 0 0 10px;
}
#content-body {
    overflow-x: auto;
}
#content-body .list-item:hover {
    background-color: #E7EBF2;
}
#perm-submenu {color:#333;}
#auto-completer {
    background: white;
    margin: 0;
    padding: 0;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fafafa,inset 0 1px 0 #fafafa;
    list-style: none;
}
#auto-completer li {
	padding: 5px;
    padding: 5px 20px;
}
#auto-completer li.cursor {
    background: #E7EBF2;
}
/* ----- Mobile ----- */
.header{background-image:url(/static/images/header.450.gif)}
.topsearch .btnSearch{
	background-position:0 -35px;
	width:35px;
	padding:20px 0 0 0;
	*height:25px;
}
.default_info {min-width:600px;}

.post-tools {display:block}
.post-tools a {margin:0;font-weight: bold;}
.mnav .catToggle {display:block;width:45px;height:0;*height:35px;padding:35px 0 0 0;background:url(/static/images/sprite.gif) no-repeat;border:0;overflow:hidden;cursor:pointer}
.body{padding:0 0 20px 0}
.post .post-photo {display: none;}
.post-info .post-photo {display: block; max-height: 20px;}
.post-group {font-weight: bold;}

/* ----- Tablet & Desktop #1 ----- */
@media all and (min-width:481px) {
    .header{background-image:url(/static/images/header.gif)}
    .topsearch .btnSearch {
        background-position: -5px -40px;
        width:25px;
        padding:20px 0 0 0;
        *height:25px;
    }
	.topsearch input {width: 155px;}
    .post-tools {display:inline-block}
	.post-tools a {margin-left: 4px;}
	.mnav .catToggle{margin:0}
}
/* ----- Tablet & Desktop #2  ----- */
@media all and (min-width:768px) {
    @font-face{font-family:ng; src:url(NanumGothic.eot); src:local('※'), url(NanumGothic.woff) format('woff');}
    body,input,textarea,button,select,table{font-family:나눔고딕,NanumGothic,ng,Tahoma,Sans-serif}
    .post .post-photo {display: block; }
    .post-info .post-photo {display: none;}
}
/* ----- Desktop ----- */
@media all and (min-width:990px) {
    .container{width:960px;margin:0 auto}
    .content {width: 740px;float: left;}
    .menu-bar {float: right; border: none; top: 0; position: relative; display:block;}
    .mnav{display:none}
}

